.customerTable{
    overflow: hidden;
}

.customerTable{
    max-height: 250px;
    overflow-y: scroll;
}

#logo{
    width: 40px;
    height: 40px;
}

#saveBtn{
    margin-left: 1%;
}
#updateBtn{
    margin-left:5% ;
}
#deleteBtn{
    margin-left:5% ;
}

#navMenu a{
    /*margin-left: 40px;*/
    font-family: "Arial Black", serif;

}

#logo{
    position: relative;
    left: 10px;
    bottom:10px;
}