.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    min-height: 90vh;

}
.login-area{
    width: 880px;
    min-height: 400px;
    overflow: hidden;
    border-radius: 5px;
    background: #222;
    display: flex;
    box-shadow: 15px 5px 30px rgba(0,0,0,0.3);
  /*  border: 1px solid black;*/
}

.login-img{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #00b894;
}
.login-img img{
    width: 100%;
}

.login-form{
    flex-basis: 50%;
    background: #333;
    font-family: roboto, serif;
    padding: 25px;
}

.login-form h1{
    text-align: center;
    margin-top: 25px;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: #fff;
}

.t-box{
    border-radius: 3px;
    background: transparent;
    outline: none;
    border: 1px solid #55efc4;
    width: 100%;
    min-height: 35px;
    margin: 30px 0;
}

.t-box input{
    background: transparent;
    width: 90%;
    outline: none;
    border: 0;
    padding-left: 5px;
}

::placeholder{
    color: #777;
}

.t-box i{
    color: #55efc4;
    font-size: 15px;
    padding: 7px;

}

.login-form a{
    margin-left: 70%;
    /*margin-top: 10%;*/
    color: red;
}

.login-btn{
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: #00b894;
    color: #fff;
    padding: 6px 12px;
    font-size: 18px;
}

.login-img:hover img{
    transform: scale(1.1);
}

.sign-up{
    position: relative;
    right: 28%;
    top: 1rem;
    margin: 0;

}

/*responsive*/
@media(width:768px) {
    .login-area{
        flex-direction: column;
        margin: 0 15px;
    }
    .login-form{
        flex-basis: 75%;
    }
}